Program "default addressing modes, data fields and modifiers." (length 380) by "Anonymous"

       ORG      START
START  MOV.I  $     0, $     1     
       MOV.I  $     0, $     1     
       MOV.B  $     0, #     1     
       MOV.I  $     0, @     1     
       MOV.I  $     0, *     1     
       MOV.I  $     0, $     1     
       MOV.I  $     0, $     1     
       MOV.B  $     0, #     1     
       MOV.I  $     0, @     1     
       MOV.I  $     0, *     1     
       MOV.AB #     0, $     1     
       MOV.AB #     0, $     1     
       MOV.AB #     0, #     1     
       MOV.AB #     0, @     1     
       MOV.AB #     0, *     1     
       MOV.I  @     0, $     1     
       MOV.I  @     0, $     1     
       MOV.I  @     0, @     1     
       MOV.I  @     0, *     1     
       MOV.B  @     0, #     1     
       NOP.F  $     1, $     0     
       NOP.F  $     1, $     0     
       NOP.F  #     1, $     0     
       NOP.F  @     1, $     0     
       NOP.F  *     1, $     0     
       NOP.F  $     0, $     1     
       NOP.F  $     0, $     1     
       NOP.F  $     0, #     1     
       NOP.F  $     0, @     1     
       NOP.F  $     0, *     1     
       NOP.F  $     0, $     1     
       NOP.F  $     0, $     1     
       NOP.F  $     0, #     1     
       NOP.F  $     0, @     1     
       NOP.F  $     0, *     1     
       NOP.F  #     0, $     1     
       NOP.F  #     0, $     1     
       NOP.F  #     0, #     1     
       NOP.F  #     0, @     1     
       NOP.F  #     0, *     1     
       NOP.F  @     0, $     1     
       NOP.F  @     0, $     1     
       NOP.F  @     0, @     1     
       NOP.F  @     0, *     1     
       NOP.F  @     0, #     1     
       DAT.F  #     0, $     1     
       DAT.F  #     0, $     1     
       DAT.F  #     0, #     1     
       DAT.F  #     0, @     1     
       DAT.F  #     0, *     1     
       DAT.F  $     0, $     1     
       DAT.F  $     0, $     1     
       DAT.F  $     0, #     1     
       DAT.F  $     0, @     1     
       DAT.F  $     0, *     1     
       DAT.F  $     0, $     1     
       DAT.F  $     0, $     1     
       DAT.F  $     0, #     1     
       DAT.F  $     0, @     1     
       DAT.F  $     0, *     1     
       DAT.F  #     0, $     1     
       DAT.F  #     0, $     1     
       DAT.F  #     0, #     1     
       DAT.F  #     0, @     1     
       DAT.F  #     0, *     1     
       DAT.F  @     0, $     1     
       DAT.F  @     0, $     1     
       DAT.F  @     0, @     1     
       DAT.F  @     0, *     1     
       DAT.F  @     0, #     1     
       JMP.B  $     1, $     0     
       JMP.B  $     1, $     0     
       JMP.B  #     1, $     0     
       JMP.B  @     1, $     0     
       JMP.B  *     1, $     0     
       JMP.B  $     0, $     1     
       JMP.B  $     0, $     1     
       JMP.B  $     0, #     1     
       JMP.B  $     0, @     1     
       JMP.B  $     0, *     1     
       JMP.B  $     0, $     1     
       JMP.B  $     0, $     1     
       JMP.B  $     0, #     1     
       JMP.B  $     0, @     1     
       JMP.B  $     0, *     1     
       JMP.B  #     0, $     1     
       JMP.B  #     0, $     1     
       JMP.B  #     0, #     1     
       JMP.B  #     0, @     1     
       JMP.B  #     0, *     1     
       JMP.B  @     0, $     1     
       JMP.B  @     0, $     1     
       JMP.B  @     0, @     1     
       JMP.B  @     0, *     1     
       JMP.B  @     0, #     1     
       SPL.B  $     1, $     0     
       SPL.B  $     1, $     0     
       SPL.B  #     1, $     0     
       SPL.B  @     1, $     0     
       SPL.B  *     1, $     0     
       SPL.B  $     0, $     1     
       SPL.B  $     0, $     1     
       SPL.B  $     0, #     1     
       SPL.B  $     0, @     1     
       SPL.B  $     0, *     1     
       SPL.B  $     0, $     1     
       SPL.B  $     0, $     1     
       SPL.B  $     0, #     1     
       SPL.B  $     0, @     1     
       SPL.B  $     0, *     1     
       SPL.B  #     0, $     1     
       SPL.B  #     0, $     1     
       SPL.B  #     0, #     1     
       SPL.B  #     0, @     1     
       SPL.B  #     0, *     1     
       SPL.B  @     0, $     1     
       SPL.B  @     0, $     1     
       SPL.B  @     0, @     1     
       SPL.B  @     0, *     1     
       SPL.B  @     0, #     1     
       JMZ.B  $     0, $     1     
       JMZ.B  $     0, $     1     
       JMZ.B  $     0, #     1     
       JMZ.B  $     0, @     1     
       JMZ.B  $     0, *     1     
       JMZ.B  $     0, $     1     
       JMZ.B  $     0, $     1     
       JMZ.B  $     0, #     1     
       JMZ.B  $     0, @     1     
       JMZ.B  $     0, *     1     
       JMZ.B  #     0, $     1     
       JMZ.B  #     0, $     1     
       JMZ.B  #     0, #     1     
       JMZ.B  #     0, @     1     
       JMZ.B  #     0, *     1     
       JMZ.B  @     0, $     1     
       JMZ.B  @     0, $     1     
       JMZ.B  @     0, @     1     
       JMZ.B  @     0, *     1     
       JMZ.B  @     0, #     1     
       JMN.B  $     0, $     1     
       JMN.B  $     0, $     1     
       JMN.B  $     0, #     1     
       JMN.B  $     0, @     1     
       JMN.B  $     0, *     1     
       JMN.B  $     0, $     1     
       JMN.B  $     0, $     1     
       JMN.B  $     0, #     1     
       JMN.B  $     0, @     1     
       JMN.B  $     0, *     1     
       JMN.B  #     0, $     1     
       JMN.B  #     0, $     1     
       JMN.B  #     0, #     1     
       JMN.B  #     0, @     1     
       JMN.B  #     0, *     1     
       JMN.B  @     0, $     1     
       JMN.B  @     0, $     1     
       JMN.B  @     0, @     1     
       JMN.B  @     0, *     1     
       JMN.B  @     0, #     1     
       ADD.F  $     0, $     1     
       ADD.F  $     0, $     1     
       ADD.B  $     0, #     1     
       ADD.F  $     0, @     1     
       ADD.F  $     0, *     1     
       ADD.F  $     0, $     1     
       ADD.F  $     0, $     1     
       ADD.B  $     0, #     1     
       ADD.F  $     0, @     1     
       ADD.F  $     0, *     1     
       ADD.AB #     0, $     1     
       ADD.AB #     0, $     1     
       ADD.AB #     0, #     1     
       ADD.AB #     0, @     1     
       ADD.AB #     0, *     1     
       ADD.F  @     0, $     1     
       ADD.F  @     0, $     1     
       ADD.F  @     0, @     1     
       ADD.F  @     0, *     1     
       ADD.B  @     0, #     1     
       SUB.F  $     0, $     1     
       SUB.F  $     0, $     1     
       SUB.B  $     0, #     1     
       SUB.F  $     0, @     1     
       SUB.F  $     0, *     1     
       SUB.F  $     0, $     1     
       SUB.F  $     0, $     1     
       SUB.B  $     0, #     1     
       SUB.F  $     0, @     1     
       SUB.F  $     0, *     1     
       SUB.AB #     0, $     1     
       SUB.AB #     0, $     1     
       SUB.AB #     0, #     1     
       SUB.AB #     0, @     1     
       SUB.AB #     0, *     1     
       SUB.F  @     0, $     1     
       SUB.F  @     0, $     1     
       SUB.F  @     0, @     1     
       SUB.F  @     0, *     1     
       SUB.B  @     0, #     1     
       MUL.F  $     0, $     1     
       MUL.F  $     0, $     1     
       MUL.B  $     0, #     1     
       MUL.F  $     0, @     1     
       MUL.F  $     0, *     1     
       MUL.F  $     0, $     1     
       MUL.F  $     0, $     1     
       MUL.B  $     0, #     1     
       MUL.F  $     0, @     1     
       MUL.F  $     0, *     1     
       MUL.AB #     0, $     1     
       MUL.AB #     0, $     1     
       MUL.AB #     0, #     1     
       MUL.AB #     0, @     1     
       MUL.AB #     0, *     1     
       MUL.F  @     0, $     1     
       MUL.F  @     0, $     1     
       MUL.F  @     0, @     1     
       MUL.F  @     0, *     1     
       MUL.B  @     0, #     1     
       SEQ.I  $     0, $     1     
       SEQ.I  $     0, $     1     
       SEQ.B  $     0, #     1     
       SEQ.I  $     0, @     1     
       SEQ.I  $     0, *     1     
       SEQ.I  $     0, $     1     
       SEQ.I  $     0, $     1     
       SEQ.B  $     0, #     1     
       SEQ.I  $     0, @     1     
       SEQ.I  $     0, *     1     
       SEQ.AB #     0, $     1     
       SEQ.AB #     0, $     1     
       SEQ.AB #     0, #     1     
       SEQ.AB #     0, @     1     
       SEQ.AB #     0, *     1     
       SEQ.I  @     0, $     1     
       SEQ.I  @     0, $     1     
       SEQ.I  @     0, @     1     
       SEQ.I  @     0, *     1     
       SEQ.B  @     0, #     1     
       SNE.I  $     0, $     1     
       SNE.I  $     0, $     1     
       SNE.B  $     0, #     1     
       SNE.I  $     0, @     1     
       SNE.I  $     0, *     1     
       SNE.I  $     0, $     1     
       SNE.I  $     0, $     1     
       SNE.B  $     0, #     1     
       SNE.I  $     0, @     1     
       SNE.I  $     0, *     1     
       SNE.AB #     0, $     1     
       SNE.AB #     0, $     1     
       SNE.AB #     0, #     1     
       SNE.AB #     0, @     1     
       SNE.AB #     0, *     1     
       SNE.I  @     0, $     1     
       SNE.I  @     0, $     1     
       SNE.I  @     0, @     1     
       SNE.I  @     0, *     1     
       SNE.B  @     0, #     1     
       SLT.B  $     0, $     1     
       SLT.B  $     0, $     1     
       SLT.B  $     0, #     1     
       SLT.B  $     0, @     1     
       SLT.B  $     0, *     1     
       SLT.B  $     0, $     1     
       SLT.B  $     0, $     1     
       SLT.B  $     0, #     1     
       SLT.B  $     0, @     1     
       SLT.B  $     0, *     1     
       SLT.AB #     0, $     1     
       SLT.AB #     0, $     1     
       SLT.AB #     0, #     1     
       SLT.AB #     0, @     1     
       SLT.AB #     0, *     1     
       SLT.B  @     0, $     1     
       SLT.B  @     0, $     1     
       SLT.B  @     0, @     1     
       SLT.B  @     0, *     1     
       SLT.B  @     0, #     1     
       DJN.B  $     0, $     1     
       DJN.B  $     0, $     1     
       DJN.B  $     0, #     1     
       DJN.B  $     0, @     1     
       DJN.B  $     0, *     1     
       DJN.B  $     0, $     1     
       DJN.B  $     0, $     1     
       DJN.B  $     0, #     1     
       DJN.B  $     0, @     1     
       DJN.B  $     0, *     1     
       DJN.B  #     0, $     1     
       DJN.B  #     0, $     1     
       DJN.B  #     0, #     1     
       DJN.B  #     0, @     1     
       DJN.B  #     0, *     1     
       DJN.B  @     0, $     1     
       DJN.B  @     0, $     1     
       DJN.B  @     0, @     1     
       DJN.B  @     0, *     1     
       DJN.B  @     0, #     1     
       MOD.F  $     0, $     1     
       MOD.F  $     0, $     1     
       MOD.B  $     0, #     1     
       MOD.F  $     0, @     1     
       MOD.F  $     0, *     1     
       MOD.F  $     0, $     1     
       MOD.F  $     0, $     1     
       MOD.B  $     0, #     1     
       MOD.F  $     0, @     1     
       MOD.F  $     0, *     1     
       MOD.AB #     0, $     1     
       MOD.AB #     0, $     1     
       MOD.AB #     0, #     1     
       MOD.AB #     0, @     1     
       MOD.AB #     0, *     1     
       MOD.F  @     0, $     1     
       MOD.F  @     0, $     1     
       MOD.F  @     0, @     1     
       MOD.F  @     0, *     1     
       MOD.B  @     0, #     1     
       DIV.F  $     0, $     1     
       DIV.F  $     0, $     1     
       DIV.B  $     0, #     1     
       DIV.F  $     0, @     1     
       DIV.F  $     0, *     1     
       DIV.F  $     0, $     1     
       DIV.F  $     0, $     1     
       DIV.B  $     0, #     1     
       DIV.F  $     0, @     1     
       DIV.F  $     0, *     1     
       DIV.AB #     0, $     1     
       DIV.AB #     0, $     1     
       DIV.AB #     0, #     1     
       DIV.AB #     0, @     1     
       DIV.AB #     0, *     1     
       DIV.F  @     0, $     1     
       DIV.F  @     0, $     1     
       DIV.F  @     0, @     1     
       DIV.F  @     0, *     1     
       DIV.B  @     0, #     1     
       LDP.B  $     0, $     1     
       LDP.B  $     0, $     1     
       LDP.B  $     0, #     1     
       LDP.B  $     0, @     1     
       LDP.B  $     0, *     1     
       LDP.B  $     0, $     1     
       LDP.B  $     0, $     1     
       LDP.B  $     0, #     1     
       LDP.B  $     0, @     1     
       LDP.B  $     0, *     1     
       LDP.AB #     0, $     1     
       LDP.AB #     0, $     1     
       LDP.AB #     0, #     1     
       LDP.AB #     0, @     1     
       LDP.AB #     0, *     1     
       LDP.B  @     0, $     1     
       LDP.B  @     0, $     1     
       LDP.B  @     0, @     1     
       LDP.B  @     0, *     1     
       LDP.B  @     0, #     1     
       STP.B  $     0, $     1     
       STP.B  $     0, $     1     
       STP.B  $     0, #     1     
       STP.B  $     0, @     1     
       STP.B  $     0, *     1     
       STP.B  $     0, $     1     
       STP.B  $     0, $     1     
       STP.B  $     0, #     1     
       STP.B  $     0, @     1     
       STP.B  $     0, *     1     
       STP.AB #     0, $     1     
       STP.AB #     0, $     1     
       STP.AB #     0, #     1     
       STP.AB #     0, @     1     
       STP.AB #     0, *     1     
       STP.B  @     0, $     1     
       STP.B  @     0, $     1     
       STP.B  @     0, @     1     
       STP.B  @     0, *     1     
       STP.B  @     0, #     1     

