Program "opcode sum" (length 19) by "Anonymous"

       ORG      START
START  JMP.B  $     0, $     0     
       MOV.I  $     0, $     0     
       ADD.F  $     0, $     0     
       SUB.F  $     0, $     0     
       MUL.F  $     0, $     0     
       JMZ.B  $     0, $     0     
       DIV.F  $     0, $     0     
       MOD.F  $     0, $     0     
       JMN.B  $     0, $     0     
       DJN.B  $     0, $     0     
       CMP.I  $     0, $     0     
       SLT.B  $     0, $     0     
       SPL.B  $     0, $     0     
       DAT.F  $     0, $     0     
       SEQ.I  $     0, $     0     
       SNE.I  $     0, $     0     
       NOP.F  $     0, $     0     
       LDP.B  $     0, $     0     
       STP.B  $     0, $     0     

